<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<settings>

	<category label="32090">

		<setting id="SetLeagues" label="32000" type="action" action="RunScript(service.bbclivefootballscores, mode=selectleague)" default="" />
		<setting id="Alerts" label="32001" default="false" type="bool" />
		<setting id="DisplayTime" label="32003" type="slider" range="1,1,20" option="int" default="2" />
		<setting id="RefreshTime" label="32004" type="enum" values="60|90|120|150|180|300|600|900" default="0" />

		<setting type="sep" />

		<setting id="Reset" label="32002" type="action" action="RunScript(special://home/addons/service.bbclivefootballscores/settings.py,reset)" default="" />
		<setting label="32027" type="lsep" />

		<setting type="sep" />

		<setting id="AdditionalDetail" label="32028" default="false" type="bool" />
		<setting id="ShowGoalscorer" label="32029" type="bool" default="false" enable="eq(-1,true)" />
		<setting id="ShowBookings" label="32030" type="enum" lvalues="32031|32032|32033" default="0" enable="eq(-2,true)" />
		<setting id="AdvancedNotifications" label="32034" type="bool" default="false" enable="eq(-3,true)" />

		<!-- Hidden, default values to stop annoying crashes on first run -->
    <setting id="currenttickers" visible="false" type="text" default="{}" />
    <setting id="masterlist" visible="false" type="text" default="[]" />
    <setting id="ticker" visible="false" type="text" default="" />
    <setting id="watchedleagues" visible="false" type="text" default="[]" />
		<!-- End of hidden settings -->

	</category>

	<category label="32091">

		<!-- Buttons to launch various additional functions -->
		<setting id="dummy1" label="32080" type="action" action="RunScript(service.bbclivefootballscores, mode=leaguetable)" />
		<setting id="dummy2" label="32081" type="action" action="RunScript(service.bbclivefootballscores, mode=matchdetail)" />
		<setting id="dummy3" label="32082" type="action" action="RunScript(service.bbclivefootballscores, mode=results)" />
		<setting id="dummy4" label="32083" type="action" action="RunScript(service.bbclivefootballscores, mode=fixtures)" />

	</category>

</settings>
